@import "settings.scss";
@import "variables.scss";

// Основные стили
body {
  background-color: #737373;
}

.wrapper {
  position: relative;
  background-image: url('img/wrapper_bg.png');
  margin: auto;
  max-width: 1920px;
  font-family: 'Roboto';
}

.wrapper__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.container {
  width: 80%;
  margin: auto;
}

//  header
.header {
  background-color: #6A0000;
  position: fixed;
  width: 100%;
  .header__container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__about {
      display: flex;
      align-items: center;

      
      img {
        max-width: 40px;
      }
      
      a {
        margin-left: 30px;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        cursor: pointer;
      }
    }
    
    .header__log-out {
      color: #fff;
      text-decoration: underline;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
// sections
section {
  padding-top: 120px;
  .container {
    width: 75%;
    
    .title {
      margin-bottom: 100px;
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
    }
  }
}

// main info
.main-info {

  .main-info__container {

    .main-info__content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      justify-content: center;

      .main-info__content__avatar {
        width: 100%;
      }

      .main-info__content__about {
        margin-left: 125px;

        p {
          margin-bottom: 30px;
          color: #fff;
          font-style: normal;
          font-weight: 300;
          font-size: 24px;
        }

        .main-info__content__about_name {
          color: #fff;
          font-size: 34px;
          text-transform: uppercase;
          line-height: 56px;
        }

        .main-info__content__about_settings {
          .setting {
            color: #6A0000;
          }
          .link-vaccine {
            text-decoration: underline;
            
            a {
              color: #6A0000;
            }
          }
        }
      }
    }
  }
}

// vaccine
.vaccine {
  // margin-top: 100px;
  .vaccine__container {

    .vaccine__content {
      width: 70%;
      margin: auto;

      .vaccine__content__article {
        margin-bottom: 50px;

        .vaccine__content_title {
          margin-bottom: 50px;
          color: #fff;
          font-size: 48px;
          font-weight: bold;
          text-transform: uppercase;
  
          .descr {
            font-style: italic;
            font-weight: 300;
            font-size: 24px;
          }
        }

        p, ol > li{
          margin-bottom: 10px;
          color: #fff;
          font-weight: 300;
          font-size: 24px; 
          text-align: justify;
        }

        ol {
          margin-left: 30px;
        }
      }
    }
  }
}

// footer
.footer {
  background-color: #6A0000;
  padding: 30px;

  p {
    color: #fff;
    text-align: center;

    &:first-child {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 36px;
    }
  }
}